:root {
    /* Fonts */
    --main-text: 'Labrada', serif;
    --heading-text: "Merienda", serif;
    /* Sizing */
    --text-size: 1rem;
    --form-size: 1.1rem;
    --heading-size: 1rem;
    /* Colors */
    --main-bg: #111;
    --main-text-color: #fff;
    --main-alt: #222;
    --highlight: #333;
}

body {
    background-color: #111;
    color: var(--main-text-color);
    margin:0;
}

#root {
    margin: 0 auto;
    font-family: var(--main-text)
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 0;
}

#hero {
    text-align: center;
    font-size: var(--heading-size);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#hero h1 {}

/* Form Styling */

label {
    font-family: var(--main-text);
    font-size: var(--text-size);
}

input[type="number"] {
    width: 80px;
    padding: 10px;
    margin: 15px;
    font-size: var(--form-size);
    font-family: var(--main-text);
    color: var(--main-bg);
}

select {
    width: 280px;
    padding: 10px;
    margin: 15px;
    font-size: var(--form-size);
    font-family: var(--main-text);
    color: var(--main-bg);
}

#user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#start-chart {
    width: 130px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--highlight);
    color: var(--main-text-color);
}

/* Chart Styling */

/* Card Styling */

.planeParent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation-name: animateIn;
    animation-duration: 750ms;
    animation-delay: calc(var(--planeCount) * 300ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

.planeCard {
    background-color: var(--highlight);
    width: 82%;
    padding: 15px;
    font-size: var(--text-size);
}

.planeChip {
    width: 8%;
    display: inline-block;
    box-sizing: border-box;
}

.planeTitle {
    font-family: var(--heading-text);
    font-size: var(--heading-size);
    margin: 0;
}

.planeLocation {
    font-weight: normal;
    font-size: .9rem;
    color: #CCC;
    margin: 0;
    margin-bottom: 10px;
}

.planeInfo {
    width: 70%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.planeTravelTime,
.planeOpensIn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.planeTravelLabel,
.planeOpensInLabel {
    margin:0;
}

.planeTravelNumber,
.planeOpensInNumber {
    font-weight: bold;
    margin:0;
}

.rerollButton {
    color: var(--main-text-color);
    background-color: var(--main-alt);
    width: 20%;
    border-width: -1px;
    border-color: var(--highlight);
}

.newChart {
    text-align: center;
    width: 100%;
    width: 130px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--highlight);
    color: var(--main-text-color);
}

/* Styling for the shadow button used for layout, blends in with the rest of the card. */
.rerollButtonDisabled {
    background-color: var(--highlight);
    width: 20%;
}

/* Animations */

/* Slide In from Left */
@keyframes slideinFL {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0%);
    }
}

/* Slide in from Right */
@keyframes slideinFR {
    from {
        transform: translateX(150%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes animateIn {
    0% {
      opacity: 0;
      transform: scale(0.6) translateY(-8px);
    }
    
    100% {
      opacity: 1;
    }
  }

/* Mobile Styling */

@media screen and (max-width: 900px) {
    .planeCard {
        font-size: .9rem;
    }

    .planeTitle {
        font-size: 1rem;
    }
}

@media screen and (max-width: 310px) {
    #hero {
        flex-direction: column;
        margin-bottom: 20px;
    }
}