:root {
    /* Fonts */
    --main-text: 'Labrada', serif;
    --heading-text: "Merienda", serif;
    /* Sizing */
    --text-size: 1rem;
    --form-size: 1.1rem;
    --heading-size: 1.6rem;
    /* Colors */
    --main-bg: #111;
    --main-text-color: #fff;
    --main-alt: #89759F;
    --highlight: #5e239d;
}

body {
    background-color: #111;
    color: var(--main-text-color);
}

#root {
    margin: 0 auto;
    font-family: var(--main-text)
}

#hero {
    text-align: center;
    font-size: var(--heading-size);
}

/* Form Styling */

label {
    font-family: var(--main-text);
    font-size: var(--text-size);
}

input[type="number"] {
    width: 70px;
    padding: 10px;
    margin: 15px;
    font-family: var(--main-text);
    font-size: var(--form-size);
    color: var(--main-bg);
}

select {
    width: 280px;
    padding: 10px;
    margin: 15px;
    font-size: var(--form-size);
    font-family: var(--main-text);
    color: var(--main-bg);
}

#user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#start-chart {
    width: 60px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--highlight);
    color: var(--main-text-color);
}

/* Chart Styling */

/* Card Styling */

.planeCard {
    background-color: var(--highlight);
    padding: 20px;
    margin: 10px 0;
    border: var(--main-text-color) solid 2px;
    font-size: var(--text-size);
    border-radius: 20px;
    animation: slidein 1s ease-in forwards;
}

.planeTitle {
    font-family: var(--heading-text);
    font-size: var(--heading-size);
}

.planeInfo {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rerollButton {
    color: var(--main-text-color);
    background-color: var(--main-alt);
    border-radius: 20px;
    margin-top: 20px;
    width: 75px;
    height: 30px;
}

/* Animations */

@keyframes slidein {
    from {
        transform: translateX(-150%);
    }

    to {
        transform: translateX(0%);
    }
}

/* Mobile Styling */

@media screen and (max-width: 900px) {
    .planeCard {
        font-size: .9rem;
    }
    .planeTitle {
        font-size: 1rem;
    }
}